<!DOCTYPE html>
<html lang="en">
<head>
  <title>TriageForGitHub</title>
  <meta charset="utf-8">

  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
  {% } %}
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="lovefield.min.js"></script>
<script type="text/javascript" src="triage_for_github_db_gen.js"></script>
{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
<script type="text/javascript" src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
{% } %}
</body>
</html>
